 ../../AngularFormPractice/  
        ../../Ben/
        ../../DI-In-Angular/        
        ../../Develop an ERM.docx   
        ../../FallDetector.zip      
        ../../FallDetector/
        ../../FlaskSpace (2).zip    
        ../../FlaskSpace - Copy/    
        ../../FlaskSpace/
        ../../Gerald-Waweru-Muchuki/
        ../../HelloJirani/
        ../Sass-Mastry/
        ../../Myspace/
        ../../Net-Freaks/
        ../../Netflick/
        ../../Portfolio/
        ../../Todo-List/
        ../../Toto-Lab/
        ../../VemImages/
        ../../angularin60mins/
        ../../blog/
        ../../css/
        ../../essentials/
        ../../flaskAssgnmnt/
        ../../html-practice/
        ../../linkedin-background/
        ../../moringascreenshots/
        ../../primaryforeign.docx
        ../../project/
        ../../revisionApp/
        ../../sql impliment.docx
        ../../studentPortal/
        ../../typeScript/
        .gitignore